#boxscroll { height: 220px; border: 1px solid #ddd; overflow: auto; margin-bottom: 20px; }

.well { height: calc(100vh - 20px); padding: 10px; }

.nicescroll-cursors { background-color: #444 !important; width: 4px !important; }

.share-tab .temp-btn { background-color: transparent; border-color: transparent; font-size: 15px; color: #0072c6; }

.share-tab ul { width: 100%; }

.share-tab .nav-tabs > li { width: 33.33%; }

.share-tab ul.nav-tabs li a { box-shadow: 0px 0px 5px #bfbfbf; border-bottom: 0px solid #ddd; background-color: #fff; width: 100%; padding: 10px 6px }

.share-tab .sharedrive-sec { padding-bottom: 25px; box-shadow: 0px 0px 5px #bfbfbf; border-bottom: 1px solid #ddd; background-color: #fff; padding: 8px; }

.share-tab .temp-library { margin-top: 35px; background-color: #fff; box-shadow: 0px 0px 5px #bfbfbf; padding: 8px; }

.share-tab .conn-icon { width: 16px; }

.share-tab ul.nav-tabs li a { font-size: 12px; }

.share-tab ul.nav-tabs li img { margin-right: 5px; }

.width20 { width: 20px; height: 20px; float: left; }

.share-tab .temp-btn img { margin-right: 10px; }

.share-tab .btn-group { padding-top: 10px; }

.share-tab .search-bar { margin-top: 10px; }

.share-tab .list-item-sec { margin-top: 18px; }

.share-tab ul.list-group li.list-group-item a { display: block; text-decoration: none; color: #333; }

    .share-tab ul.list-group li.list-group-item a:hover { color: #0072c6; }

.share-tab ul.list-group li.list-group-item img { margin-right: 10px; float: left; }

.share-tab .share-img:before { width: 35px; height: 35px; background-image: url(images/share-icon.png); position: absolute; content: ""; background-position: 7px 6px; background-repeat: no-repeat; }

.share-tab .form-select { padding-left: 35px; margin-top: 25px; }

#WaitDialog { position: absolute; z-index: 42; height: 100vh; }

.blur { -webkit-filter: blur(0.7px); /* Chrome, Safari, Opera */ filter: blur(0.7px); -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10'); }

.lib-section { border: 1px solid #ddd; background-color: #fff; padding: 15px 10px; float: left; width: 100%; height: calc(100vh - 68px);}


#WaitDialog img { width: 300px; margin-top: 50%; z-index: 100; }

#lblTemplateName { word-wrap: break-word; }

.documentText { word-wrap: break-word; }

.share-tab .input-group-btn { vertical-align: bottom; }

.lib-section .form-control { font-size: 12px; padding: 9px 12px; }

.lib-section .selectpicker { width: 85%; border: 1px solid #ddd; height: 34px; margin-top: 5px; }

.lib-section .select-word-img { vertical-align: bottom; }

.mb0 { margin-bottom: 0px; }

/*ul#listOfPlaceHolder li {
    min-height: 45px;
}*/

ul#listOfPlaceHolder li div .btn { font-size: 12px; padding: 4px 12px; }

.inline { display: inline; cursor: pointer; }

ul#listOfPlaceHolder li div.icons i { font-size: 16px; margin: 1px 4px 0px; }


/* 05 02 2018 */
.docnode-btn { width: 100%; float: left; background: #e1e1e1; color: #293a42; text-align: left; font-size: 13px; border-radius: 3px; height: auto; border: none; margin: 5px 0 10px; padding: 9px 15px 9px 10px; }

    .docnode-btn i { float: right; position: relative; top: 3px; font-size: 13px; }

    .docnode-btn span { float: left }

.docnode-accordview { width: 100%; float: left; padding: 10px; border: 1px solid #e1e1e1; margin-top: -2px; }

    .docnode-accordview b { color: #148cc5; }

.placeHolder-section .selectpicker { width: calc(100% - 33px); border: 1px solid #ddd; height: 34px; margin-top: 5px; }

div#btnDiv { float: left; width: 100%; }

.docnode-accordview { width: 100%; float: left; padding: 10px; border: 1px solid #e1e1e1; margin-top: -10px; margin-bottom: 10px; }

    .docnode-accordview p { margin: 0 }

.doc-node-row { width: 100%; float: left; margin-bottom: 10px; }

    .doc-node-row b { width: 100%; float: left; font-size: 14px; font-weight: 600; color: #148cc5 }

.lib-section .select-word-img { vertical-align: bottom; width: 28px; margin-top: 6px; float: left; margin-right: 5px; }

.doc-node-custm-btn { margin: 0 auto; float: none; display: block; color: #fff; background: #337ab7; }

.doc-node-inputfld { width: 100%; float: left; height: 36px; border: 1px solid #e2e2e2; padding: 10px; color: #111; }

.modal-title { float: left }

.tab-pane { width: 100%; float: left; }

.share-tab ul { width: 100%; float: left; margin: 0; padding: 0; }

.placeHolder-section .selectpicker.fullwidth { width: 100% }

.alert-info { float: left; width: 100%; }

.list-group-item { position: relative; display: block; padding: 13px 15px 12px; margin-bottom: 5px; background-color: #fff; border: 1px solid #ddd; border-radius: 0 !important; box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2); color: #fff; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; transition: .5s; font-size: 13px; }

    .list-group-item:hover { background: #ddd; color: #444; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3); }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #666; opacity: 1; }

::-moz-placeholder { /* Firefox 19+ */ color: #666; opacity: 1; }

:-ms-input-placeholder { /* IE 10+ */ color: #666; opacity: 1; }

:-moz-placeholder { /* Firefox 18- */ color: #666; opacity: 1; }

.helpcls { float: right; margin-top: 10px; cursor: pointer; font-size: 23px; color: #337ab7; }
